<a ui-sref="home" class="logo pull-left"><h1 class="logo__title">英语流利说CRM</h1></a>


<div class="tool pull-right">
  <div class="tool__options no-select">
    <a class="icon-link"><i class="fa fa-reorder"></i></a>
  </div>

  <div class="tool__logout no-select">
    <a class="icon-link" ng-click="logout()"><i class="fa fa-sign-out"></i></a>
  </div>

  <div class="tool__search"></div>

  <div class="tool__full-screen no-select">
    <a class="icon-link" full-screen><i class="fa fa-arrows-alt"></i></a>
  </div>
</div>
