<div class="modal-header">
  <button type="button" class="close" ng-click="cancel()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
  <h3 class="modal-title">选择课程</h3>
</div>
<div class="modal-body">
  <search-filter search="search"></search-filter>
  <div class="no-item" ng-hide="list.length">没有任何课程~~~</div>
  <div ng-show="list.length">
    <h2 class="modal-list-title">{{listTitle}}</h2>
    <ul class="modal-course-list modal-list">
      <li class="modal-item row" ng-repeat="course in list">
        <div class="col-sm-{{course.coverUrl ? 8 : 10}}">
          <h3>
            <banner-card data="course" type="BANNER_TYPE.COURSE"></banner-card>
          </h3>
        </div>
        <div class="col-sm-2" ng-if="course.coverUrl">
          <img ng-src="{{course.coverUrl}}?imageView2/5/w/50/h/50" width="50" height="50">
        </div>
        <div class="col-sm-2">
          <button class="btn btn-info btn-xs pull-right" ng-click="select(course)">选择</button>
        </div>
      </li>
    </ul>
    <div class="clearfix">
      <div class="pull-right" ng-include="'views/incs/pager.html'"></div>
    </div>
  </div>

</div>
