<div class="modal-header">
  <button type="button" class="close" ng-click="cancel()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
  <h3 class="modal-title">选择帖子</h3>
</div>
<div class="modal-body">
  <search-filter search="search"></search-filter>
  <div class="no-item" ng-hide="list.length">没有任何帖子~~~</div>
  <div ng-show="list.length">
    <h2 class="modal-list-title">{{listTitle}}</h2>
    <ul class="modal-thread-list modal-list">
      <li class="modal-item row" ng-repeat="thread in list">
        <div class="col-sm-{{thread.attachedImg ? 10 : 11}}">
          <h3>
            <a class="title text-ellipsis" title="{{thread.title}}" ui-sref="home.forumDetail({id: thread.id})" m-blank>{{thread.title}}</a>
            <a class="author text-ellipsis" title="{{thread.userName}}" ui-sref="home.userDetail({id: thread.userId})" m-blank>{{thread.userName}}</a>
          </h3>
          <p class="desc text-ellipsis">{{thread.body}}</p>

        </div>
        <div class="col-sm-1" ng-if="thread.attachedImg">
          <img ng-src="{{thread.attachedImg}}?imageView2/5/w/50/h/50" width="50" height="50">
        </div>
        <div class="col-sm-1">
          <button class="btn btn-info btn-xs pull-right" ng-click="select(thread)">选择</button>
        </div>
      </li>
    </ul>
    <div class="clearfix">
      <div class="pull-right" ng-include="'views/incs/pager.html'"></div>
    </div>
  </div>

</div>
