<div class="modal-header">
  <button type="button" class="close" ng-click="cancel()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
  <h3 class="modal-title">选择小组</h3>
</div>
<div class="modal-body">
  <search-filter search="search"></search-filter>
  <div class="no-item" ng-hide="list.length">没有任何小组~~~</div>
  <div ng-show="list.length">
    <h2 class="modal-list-title">{{listTitle}}</h2>
    <ul class="modal-team-list modal-list">
      <li class="modal-item row" ng-repeat="team in list">
        <div class="col-sm-{{team.imageUrl ? 10 : 11}}">
          <h3>
            <a class="title text-ellipsis" title="{{team.title}}" ui-sref="home.teamDetail({id: team.resourceId})" m-blank>{{team.categoryName + ': ' + team.title}}</a>
            <a class="author text-ellipsis" title="{{team.owner.name}}" ui-sref="home.userDetail({id: team.owner.resourceId})" m-blank>{{team.owner.name}}</a>
          </h3>
          <p class="desc text-ellipsis">
            <label class="label label-default">{{team.members.length}}/{{team.maxMembers}}</label>
            <label class="label label-danger" ng-if="team.isOfficial">官方</label>
            {{team.description}}
          </p>

        </div>
        <div class="col-sm-1" ng-if="team.imageUrl">
          <img ng-src="{{team.imageUrl}}?imageView2/5/w/50/h/50" width="50" height="50">
        </div>
        <div class="col-sm-1">
          <button class="btn btn-info btn-xs pull-right" ng-click="select(team)">选择</button>
        </div>
      </li>
    </ul>
    <div class="clearfix">
      <div class="pull-right" ng-include="'views/incs/pager.html'"></div>
    </div>
  </div>

</div>
