@import "setting";

@import "lib/bootstrap";
@import "mixin/bootstrap";
@import "ui/bootstrap";

.no-padding-left {
  padding-left: 0 !important;
}
.no-padding-right {
  padding-right: 0 !important;
}

.animate-repeat.ng-move,
.animate-repeat.ng-enter,
.animate-repeat.ng-leave {
  -webkit-transition:all linear 0.1s;
  transition:all linear 0.1s;
}

.animate-repeat.ng-leave.ng-leave-active,
.animate-repeat.ng-move,
.animate-repeat.ng-enter {
  opacity:0;
}

.animate-repeat.ng-leave,
.animate-repeat.ng-move.ng-move-active,
.animate-repeat.ng-enter.ng-enter-active {
  opacity:1;
}



[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}



.animate.speed-5 { animation-duration: .5s; }
.animate.speed-4 { animation-duration: .4s; }
.animate.speed-3 { animation-duration: .3s; }
.animate.speed-2 { animation-duration: .2s; }
.animate.speed-1 { animation-duration: .1s; }

.animate {
  animation-duration: .15s;
  animation-fill-mode: both;
}
@keyframes fade-out {
  0% {opacity: 1;}
  100% {opacity: 0;}
}

//=== 过渡动画
.transition {
  transition: all .15s linear;
  transform: translateZ(0px);
}
.transition-slow {
  transition: all .35s linear;
  transform: translateZ(0px);
}

