@import "setting";

@import "lib/bootstrap";
@import "mixin/bootstrap";
@import "ui/bootstrap";
@import "component/bootstrap";

.no-padding-left {
  padding-left: 0 !important;
}





[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.animated.speed-5 { animation-duration: .5s; }
.animated.speed-4 { animation-duration: .4s; }
.animated.speed-3 { animation-duration: .3s; }
.animated.speed-2 { animation-duration: .2s; }
.animated.speed-1 { animation-duration: .1s; }



