$colors: (
  black: black,
  yellow: #ffe600,
  red: #ef4a41,
  white: #f7f5ed,
  gray: #aaa
);


@import "setting";

@import "lib/bootstrap";
@import "mixin/bootstrap";
@import "ui/bootstrap";
@import "spring/bootstrap";

.btn {
  font-size: 20px;
  font-weight: 700;
  color: #64421f;
  margin-left: auto;
  margin-right: auto;
  background-color: map-get($colors, yellow);
  box-shadow: inset 0 -3px #ffb600, 0 4px rgba(0,0,0,.14);
  text-align: center;
  @include size(200px 52px true, block, 26px);
}

.btn-small {
  font-size: 14px;
  @include size(68px 30px true, block, 15px);
}

.btn-white {
  background-color: map-get($colors, white);
  box-shadow: inset 0 -3px #c9cdd0, 0 4px rgba(0,0,0,.14);
}


.animate-repeat.ng-move,
.animate-repeat.ng-enter,
.animate-repeat.ng-leave {
  transition:all linear 0.1s;
}

.animate-repeat.ng-leave.ng-leave-active,
.animate-repeat.ng-move,
.animate-repeat.ng-enter {
  opacity:0;
}

.animate-repeat.ng-leave,
.animate-repeat.ng-move.ng-move-active,
.animate-repeat.ng-enter.ng-enter-active {
  opacity:1;
}

.ani-scale.ng-hide-add {
  transition: 300ms ease-in all;
  transform: scale(1);
  opacity: 1;
}
.ani-scale.ng-hide-add.ng-hide-add-active {
  transform: scale(0);
  opacity: 0;
}
.ani-scale.ng-hide-remove {
  transition: 300ms ease-out all;
  transform: scale(0);
  opacity: 0;
}
.ani-scale.ng-hide-remove.ng-hide-remove-active {
  transform: scale(1);
  opacity: 1;
}


[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}



.animate.speed-5 { animation-duration: .5s; }
.animate.speed-4 { animation-duration: .4s; }
.animate.speed-3 { animation-duration: .3s; }
.animate.speed-2 { animation-duration: .2s; }
.animate.speed-1 { animation-duration: .1s; }

.animate {
  animation-duration: .15s;
  animation-fill-mode: both;
}


//=== 过渡动画
.transition {
  transition: all .15s linear;
  transform: translateZ(0px);
}
.transition-slow {
  transition: all .35s linear;
  transform: translateZ(0px);
}

