<div class="container">
  <banner data-title="course.title"></banner>

  <div class="gap">
    <sub-title>个人挑战</sub-title>

    <ul class="charges">
      <li class="charge bfc l19 f16 fg-p3 mt24" ng-repeat="charge in ::charges">
        <h3 class="charge__title fg-f text-center f21 f-bold l33 mt20 mb10">挑战{{$index+1}}</h3>
        <p><span class="fg-f">任务：</span>{{::charge.task}}</p>
        <p class="mt12"><span class="fg-f">奖励：</span>{{::charge.prize}}</p>
        <a ng-if="::charged" class="btn btn-light mt29" ng-class="{disabled: charged !== charge}" ng-click="goToCourse()">{{charged === charge ? '打开课程' : '我要挑战'}}</a>
        <a ng-if="::(!charged)" class="btn btn-light mt29" async-click="challenge(charge, done)">我要挑战</a>
      </li>
    </ul>
  </div>

  <footer>
    <a class="footer-btn" ng-click="share()">点击邀请<br/>小伙伴来挑战</a>
  </footer>


  <div class="mask" ng-show="buyTipModal">
    <div class="modal">
      <div class="content">你还没有购买课程<br/>快去购买吧！</div>
      <div class="control">
        <a class="btn" ng-click="buyTipModal=false">容朕想想</a>
        <a class="btn" ng-click="goToCourse()">去购买</a>
      </div>
    </div>
  </div>

  <div class="mask" ng-show="challengeTipModal">
    <div class="modal">
      <div class="content">{{charge.task}}</div>
      <div class="control">
        <a class="btn" ng-click="challengeTipModal=false">容朕想想</a>
        <a class="btn" ng-click="acceptChallenge()">接受挑战</a>
      </div>
    </div>
  </div>

</div>