<div class="forum-all" ng-cloak>

  <div class="no-item" ng-hide="list.length">没有任何帖子~~~</div>

  <div ng-show="list.length">

    <table class="table thread-list">
      <tr class="thread" ng-repeat="thread in list">
        <td>
          <label class="no-select">
            <a class="fa fa-edit quick-edit" style="margin: 12px 0 0;" ng-click="editThread(thread)">编辑</a>
            <!--<input type="checkbox" ng-checked="thread.checked"/>-->
          </label>
        </td>
        <td>
          <div class="btn-group item__status">
            <label class="btn btn-primary fa fa-fire" async-click="hotThread(thread)" ng-class="{active: thread.isHot}">热门</label>
            <label class="btn btn-primary fa fa-trash-o" async-click="deleteThread(thread)" async-confirm="确认{{thread.isDeleted?'恢复':'删除'}}“{{thread.title}}”？" ng-class="{active: thread.isDeleted}">删除</label>
          </div>

          <h3 class="title text-ellipsis">
            <a ui-sref="home.forumDetail({id: thread.id})">{{thread.title}}</a>
          </h3>
          <div class="detail" fade>
            <div class="detail-content" post="thread"></div>
          </div>
        </td>
        <td width="200px">
          <a class="center-block block" user="thread" data-avatar></a>
          <p class="text-center">Posted at {{thread.createdAt | time}}</p>
        </td>
      </tr>
    </table>

  </div>

</div>