<form class="form-list settled">
  <div class="row form-list-header">
    <div class="col-sm-1"></div>
    <div class="col-sm-2"><label>类型</label></div>
    <div class="col-sm-6"><label>信息</label></div>
    <div class="col-sm-3">操作</div>
  </div>
  <div class="no-item" ng-hide="list.length">没有任何 Streams ~~~</div>
  <ul class="form-list-body" ng-show="list.length">
    <li class="row" ng-repeat="item in list" style="border-bottom: 1px solid lightgray;">
      <div class="col-sm-1">#{{$index + 1}}</div>
      <div class="col-sm-2 text-left">{{item.type | inflector:humanize}}</div>
      <div class="col-sm-6 break-word text-left">
        <div ng-if="item.type === TYPE.COURSE_SET">
          <div ng-repeat="it in item.data"><banner-card banner="it"></banner-card></div>
        </div>
        <div ng-if="item.type === TYPE.SMALL_BANNER">
          <div ng-repeat="it in item.data"><banner-card banner="it"></banner-card></div>
        </div>
        <div ng-if="item.type === TYPE.TEAM_SET">
          <div ng-repeat="it in item.data"><banner-card banner="it"></banner-card></div>
        </div>
        <div ng-if="item.type === TYPE.THREAD">
          <banner-card banner="item"></banner-card>
        </div>
      </div>
      <div class="col-sm-3">
        <button class="btn btn-default btn-xs" ng-click="editStream(item)">编辑</button>
        <button class="btn btn-danger btn-xs" async-confirm="确认删除？"
                async-click="deleteStream(item.cardId, $index)">删除</button>
      </div>
    </li>
  </ul>

  <div class="row form-list-footer">
    <div class="btn-group pull-left" dropdown>
      <button type="button" class="btn btn-primary dropdown-toggle" dropdown-toggle>
        添加Stream &nbsp;<span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li ng-repeat="(key, label) in TYPE"><a ng-click="createStream(label)">{{label | inflector:humanize}}</a></li>
      </ul>
    </div>

    <div class="pull-right" ng-include="'views/incs/pager.html'"></div>

  </div>

</form>