<form class="form-list settled">
  <div class="row form-list-header">
    <div class="col-sm-1"></div>
    <div class="col-sm-2"><label>类型</label></div>
    <div class="col-sm-3"><label>图片</label></div>
    <div class="col-sm-3"><label>标题</label></div>
    <div class="col-sm-3">操作</div>
  </div>
  <div class="no-item" ng-hide="list.length">没有任何 Banners ~~~</div>
  <ul class="form-list-body" ng-show="list.length">
    <li class="row" ng-repeat="item in list">
      <div class="col-sm-1">#{{$index + 1}}</div>
      <div class="col-sm-2">{{item.type | inflector:humanize}}</div>
      <div class="col-sm-3"><div class="banner banner-small">
        <img ng-src="{{item.img}}"/>
      </div></div>
      <div class="col-sm-3 break-word">
        <banner-card banner="item"></banner-card>
      </div>
      <div class="col-sm-3">
        <button class="btn btn-default btn-xs" ng-click="editBanner(item)">编辑</button>
        <button class="btn btn-danger btn-xs" ng-click="deleteBanner($index)">删除</button>
      </div>
    </li>
  </ul>

  <div class="row form-list-footer">
    <div class="btn-group pull-left" dropdown>
      <button type="button" class="btn btn-primary dropdown-toggle" dropdown-toggle>
        添加Banner &nbsp;<span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li ng-repeat="(key, label) in TYPE"><a ng-click="createBanner(label)">{{label | inflector:humanize}}</a></li>
      </ul>
    </div>


    <!--<div class="pull-right">-->
      <!--<button class="btn btn-success" ng-disabled="!isUpdated()" ng-click="save()">保存</button>-->
    <!--</div>-->
  </div>

</form>