<form class="col-sm-11 form-horizontal" style="padding-top: 20px;">

  <form-control label="">
    <img width="100" height="100" ng-src="{{detail.imageUrl}}"/>
  </form-control>

  <form-control label="小组名称" ref="title">
    <input type="text" class="form-control"
           name="title"
           ng-model="detail.title"
           required/>
  </form-control>

  <form-control label="小组描述" ref="description">
    <textarea class="form-control"
           name="description"
           ng-model="detail.description"
           required>
    </textarea>
  </form-control>

  <form-control label="小组分类" ref="category-name">
    <select class="form-control" name="category-name" ng-model="detail.categoryName" ng-options="category.key as category.name for category in categories"></select>
  </form-control>

  <form-control label="人数限制" ref="max-members">
    <input type="number" class="form-control"
           name="max-members"
           ng-model="detail.maxMembers"
           required/>
  </form-control>


  <form-control label="">
    <label class="checkbox-inline">
      <input type="checkbox" class="checkbox" ng-checked="detail.isOfficial"><span>官方小组</span>
    </label>
    <label class="checkbox-inline">
      <input type="checkbox" class="checkbox" ng-checked="detail.isHot"><span>热门小组</span>
    </label>
  </form-control>

  <form-control label="小组标签">
    <div class="form-inline">
      <div class="form-group" ng-repeat="tag in detail.tags"><input disabled class="form-control" ng-model="tag"></div>
    </div>
  </form-control>

  <form-control label="小组创建人">
    <div class="form-control-text">
      <a user="detail.owner" data-avatar></a>
    </div>
  </form-control>

  <form-control label="小组成员">
    <div class="form-control-text" ng-hide="detail.members.length">此小组暂时还没有成员</div>
    <ul ng-show="detail.members.length">
      <li class="inline-block" ng-repeat="member in detail.members">
        <a user="member" data-avatar></a>
        <a class="btn btn-primary btn-xs kick-member" async-confirm="确认踢掉 “{{member.name}}” 吗" async-click="kickMember(member, $index)">踢掉TA</a>
      </li>
    </ul>
  </form-control>

  <form-control label="小组公告" ref="announcement-text">
    <textarea class="form-control"
              name="announcement-text"
              ng-model="detail.announcement.text"></textarea>
    <div class="pull-right">last edited by <a user="detail.announcement.author"></a> at {{detail.announcement.updatedAt | time}}</div>
  </form-control>

</form>