<div class="container">

  <div class="pages swipe-page" data-swipe="scroll">
    <div class="page page-1">
      <div class="fg-f f-bold f20 l26 pt41 text-center"><p>{{username}}</p><p>{{texts[0]}}</p></div>
    </div>
    <div class="page page-2">
      <div class="fg-f f-bold f20 l26 pt41 text-center"><p>{{username}}</p><p>{{texts[1]}}</p></div>
    </div>
    <div class="page page-3">
      <div class="fg-f f-bold f20 l26 pt41 text-center"><p>{{username}}</p><p>{{texts[2]}}</p></div>
    </div>
    <div class="page page-4">
      <div class="fg-f f-bold f20 l26 pt41 text-center"><p>{{username}}</p><p>{{texts[3]}}</p></div>
    </div>
    <div class="page page-5">
      <div class="fg-f f-bold f20 l26 pt41 text-center"><p>{{username}}</p><p>{{texts[4]}}</p></div>
    </div>
  </div>

  <div class="arrow-up"></div>
</div>