<div class="container">
  <div class="slogan fg-f f-bold f20 l26 pt41 text-center">
    <p>哇塞，你运气惊人</p>
    <p>2015年，你绝对一顺到底！</p>
  </div>
  <div class="text-center fg-yellow l17 f14 mt20">
    <p>想知道新年礼包里有什么吗？</p>
    <p>赶快分享，让你的小伙伴帮你打开！</p>
  </div>
  <div class="prize prize-red center-block">
    <i class="star star-a"></i>
    <i class="star star-b"></i>
    <i class="eyes-pink eyes"></i>
    <i class="eyes-white eyes"></i>
    <i class="gift"></i>
  </div>


  <a class="btn mt36 mb20" ng-click="showShareTip = true">分享求打开</a>

  <div class="mask ani-scale" ng-show="showShareTip" ng-click="showShareTip = false">
    <div class="modal share-tip"></div>
  </div>
</div>