<div class="container">

  <div class="header">
    <div class="text-center fg-f f-bold f20 l26 pt30">
      <p>晃动停止后，选择一个萌神</p>
      <p>祝你好运哦</p>
    </div>
  </div>


  <ul class="game-ani flex">
    <li class="flex-1">
      <div class="box box-left center-block flipper-container">
        <div class="flipper">
          <div class="front" async-click="pick($event)"></div>
          <div class="back"></div>
        </div>
      </div>
    </li>
    <li class="flex-1">
      <div class="box box-right center-block flipper-container">
        <div class="flipper">
          <div class="front" async-click="pick($event)"></div>
          <div class="back"></div>
        </div>
      </div>
    </li>
  </ul>

  <div class="footer"></div>

</div>