
<div class="container bfc">

  <div class="loading" ng-show="loading"><div class="lover-letter"></div></div>

  <div class="top">
    <h1 class="text-hide m0 mt20 center-block title">2015年情人节快乐</h1>

    <ul class="hearts f0 mt8">
      <li></li><li></li><li></li><li></li><li></li><li></li>
      <li></li><li></li><li></li><li></li><li></li><li></li>
    </ul>

    <h3 class="sub-title f16 text-center m0">一封来自英语流利说的情书</h3>
  </div>

  <div class="footer">
    <div class="sing-bird"></div>
    <a class="btn start fg-f f26 text-center" ng-click="start()">点击生成情书</a>
  </div>
</div>
