
<div class="container bfc">

  <h1 class="text-hide m0 mt41 center-block title">2015年情人节快乐</h1>

  <ul class="hearts f0 mt14">
    <li></li><li></li><li></li><li></li><li></li><li></li>
    <li></li><li></li><li></li><li></li><li></li><li></li>
  </ul>

  <h3 class="sub-title f16 text-center m0">一封来自英语流利说的情书</h3>

  <footer>
    <div class="sing-bird"></div>
    <a class="start fg-f f26 text-center">点击生成情书</a>
  </footer>
</div>


<!--<div class="guitar-bird"></div>-->
<!--<div class="lover-bird"></div>-->
<!--<div class="sing-bird"></div>-->
<!--<div class="star-bird"></div>-->
<!--<div class="double-bird"></div>-->
<!--<div class="lover-letter"></div>-->