<div class="container">

  <div class="pages swipe-page" data-swipe="scroll" data-swipe-children="swipeChildren">

    <div class="page page-1">
      <div class="cloud cloud-1"></div>
      <div class="cloud cloud-2"></div>
      <div class="cloud cloud-3"></div>
      <div class="cloud cloud-4"></div>
      <div class="tree">
        <div class="branch">
          <div class="double-bird"></div>
          <div class="heart">
            <p class="heart-txt">亲爱滴，<br/>
              我们相遇在 <span class="y">{{createdAt|date:'yyyy'}}</span><br/>
              已经相伴了 <span class="y">{{elapsedDays}}</span> 天<br/>
              <span class="y">{{elapsedHours}}</span> 小时 <span class="y">{{elapsedMinutes}}</span> 分了<i class="shy"></i></p>

          </div>
        </div>
      </div>
    </div>

    <div class="page page-2">
      <div class="cloud cloud-1"></div>
      <div class="cloud cloud-2"></div>
      <div class="cloud cloud-3"></div>
      <div class="cloud cloud-4"></div>
      <div class="tree">
        <div class="branch">
          <div class="double-bird"></div>
        </div>
      </div>
      <div class="wrap">
        <p class="mt40 ani ani-down">
          亲爱滴<br/>
          我们相遇在 <span class="r">{{createdAt|date:'yyyy'}}</span> <br/>
          已经相伴了 <span class="r">{{elapsedDays}}</span> 天<br/>
          <span class="r">{{elapsedHours}}</span> 小时 <span class="r">{{elapsedMinutes}}</span> 分了
        </p>
        <p class="mt25 ani ani-left delay-1">
          从我们认识到现在，你对我说过<br/>
          了 <span class="r">{{data.sentenceCount}}</span> 句话<br/>
          每一句都是我们的回忆!
        </p>

        <p class="mt25 ani ani-right delay-2">
          <span class="b">{{lowestScoreDate|date:'yyyy-MM-dd'}}</span> 年你还只有 <span class="r">{{data.lowScore}}</span> 分<br/>
          现在你都是 <span class="r">{{data.highScore}}</span> 分了<br/>
          进步的不止一点点哦<i class="shy"></i>
        </p>
      </div>
    </div>

    <div class="page page-3">

      <div class="cloud cloud-1"></div>
      <div class="cloud cloud-2"></div>
      <div class="cloud cloud-3"></div>
      <div class="cloud cloud-4"></div>
      <div class="tree">
        <div class="branch">
          <div style="position: absolute; top: -360px; left: -56px;">
            <p class="mt35 ani ani-right">
              在流利吧，<br/>
              你发表过 <span class="r">{{data.topicsCount}}</span> 个帖子<br/>
              有 <span class="r">{{data.topicsVisitorCount}}</span> 人阅读过哦<br/>
              人气旺，人气王哦
            </p>

            <p class="mt20 ani ani-left delay-1">
              <span class="r">{{data.topicRepliesCount}}</span> 人和你互动交流过<br/>
              收到和送出过 <span class="r">{{data.likedCount}}</span> 个赞<br/>
              你这么有爱，我果然有眼光
            </p>
          </div>
          <div class="guitar-bird">
          </div>
          <p style="position: absolute; top: 20px; left: -56px;" class="ani ani-up delay-2">
            告诉你个小秘密：<br/>
            <span class="r">{{data.visitorCount}}</span> 人看过你的个人主页~<br/>
            伦家吃醋了<i class="pride"></i>
          </p>
        </div>
      </div>
    </div>

    <div class="page page-4">
      <p class="mt25 ani ani-down">我从 <span class="y">2013.2.14</span> 出现到现在，有 <span class="y">2000万</span> 萌萌哒来学习过 <span class="y">1,797,968,954</span> 个句子，这些句子连起来可以绕地球 <span class="y">5</span> 圈哦～</p>
      <div class="time text-hide center-block mt20 ani ani-flipX delay-1">2013.02.14<div class="lover-bird"></div></div>
      <p class="mt18 ani ani-up delay-2">我很荣幸遇到了这么多爱我的人更加庆幸你在这中间，<span class="w">陪伴，鼓励，支持我！</span></p>
      <p class="mt18 ani ani-up delay-3">今天的我不够完美，有时候也会耍耍小脾气，但是我知道你会理解我，信任我，并一直支持我！因为这就是爱啊~<i class="happy"></i></p>
    </div>

    <div class="page page-5">
      <div class="wrap l24">
        <div class="ani ani-zoomInDown">
          <p class="mt25">在接下来的日子，我会越加的努力做到更好，我相信你也会做得更好，远比我好！也许这就是我们互相吸引的原因吧~
            为了让彼此快乐才邂逅，为了让彼此完美才相伴！</p>
          <p class="mt16">希望你在2015年心愿成真，我会永远在你的身边 <span class="y">2016，17，18，19，20</span> 年...</p>

          <p class="bless text-hide mt16">亲爱的，情人节快乐，永远爱你！</p>
          <p class="text-right mt10">英语流利说敬上</p>
          <p class="text-right">2015.2.14</p>
        </div>

        <div class="share ani ani-flipX delay-1">
          <div class="star-bird"></div>
          <a class="btn fg-f center-block text-center f26" ng-click="share()">{{Env.Platform.isLLS ? '晒幸福' : '我也要'}}</a>
        </div>

      </div>
    </div>

  </div>

  <div class="arrow-up"></div>
</div>