<div class="menu no-select">
  <ul class="menu__parent-ul">
    <li ng-repeat="menu in menus" bindonce="menu" ng-class="{active: menu.key == activeMenu, open: menu.isOpen, 'has-children': menu.hasChildren}">
      <a class="menu__parent-ul__item" ng-click="toggleMenu($event, menu)" title="{{::menu.title}}" ui-sref="{{::menu.sref}}">
        <i class="fa fa-lg fa-fw fa-{{::menu.fa}}"><em class="circle bg-red fg-white" bo-if="menu.newCount" bo-bind="menu.newCount"></em></i>
        <span class="name" bo-bind="menu.title"></span>
        <b class="collapse-sign" bo-if="menu.hasChildren">
          <em class="fa" ng-class="{'fa-plus-square-o': !menu.isOpen, 'fa-minus-square-o': menu.isOpen}"></em>
        </b>
        <span bo-if="menu.isNew" class="badge pull-right bg-red">new</span>
      </a>

      <ul class="menu__child-ul animated speed-2" bo-if="menu.hasChildren" bo-hide="!menu.isOpen">
        <li ng-repeat="subMenu in menu.children" ui-sref-active="active">
          <a ui-sref="{{::subMenu.sref}}">{{::subMenu.title}}
            <span bo-if="subMenu.isNew" class="badge pull-right bg-red">new</span>
          </a>
        </li>
      </ul>
    </li>
  </ul>
</div>