/* margin padding */
.m0  { margin: 0; }
.mt0 {margin-top: 0;}
.mb0 {margin-bottom: 0;}
.ml0 {margin-left: 0;}
.mr0 {margin-right: 0;}

.p0  { margin: 0; }
.pt0 {padding-top: 0;}
.pb0 {padding-bottom: 0;}
.pl0 {padding-left: 0;}
.pr0 {padding-right: 0;}

.mp0  { margin: 0; padding: 0; }
.mpt0 {margin-top: 0; padding-top: 0;}
.mpb0 {margin-bottom: 0; padding-bottom: 0;}
.mpl0 {margin-left: 0; padding-left: 0;}
.mpr0 {margin-right: 0; padding-right: 0;}


.f-bold { font-weight: 700; }
.f-bolder { font-weight: 900; }

/* font size */
.f-10 { font-size: 10px; }
.f-11 { font-size: 11px; }
.f-12 { font-size: 12px; }
.f-13 { font-size: 13px; }
.f-14 { font-size: 14px; }
.f-15 { font-size: 15px; }
.f-16 { font-size: 16px; }
.f-17 { font-size: 17px; }
.f-18 { font-size: 18px; }
.f-19 { font-size: 19px; }
.f-20 { font-size: 20px; }
.f-21 { font-size: 21px; }
.f-22 { font-size: 22px; }
.f-23 { font-size: 23px; }
.f-24 { font-size: 24px; }
.f-25 { font-size: 25px; }
.f-26 { font-size: 26px; }
.f-27 { font-size: 27px; }
.f-28 { font-size: 28px; }
.f-29 { font-size: 29px; }
.f-30 { font-size: 30px; }


/* line height */
.lh-15 { line-height: 15px; }
.lh-16 { line-height: 16px; }
.lh-17 { line-height: 17px; }
.lh-18 { line-height: 18px; }
.lh-19 { line-height: 19px; }
.lh-20 { line-height: 20px; }
.lh-21 { line-height: 21px; }
.lh-22 { line-height: 22px; }
.lh-23 { line-height: 23px; }
.lh-24 { line-height: 24px; }
.lh-25 { line-height: 25px; }
.lh-26 { line-height: 26px; }
.lh-27 { line-height: 27px; }
.lh-28 { line-height: 28px; }
.lh-29 { line-height: 29px; }
.lh-30 { line-height: 30px; }
.lh-31 { line-height: 31px; }
.lh-32 { line-height: 32px; }
.lh-33 { line-height: 33px; }
.lh-34 { line-height: 34px; }
.lh-35 { line-height: 35px; }
.lh-36 { line-height: 36px; }
.lh-37 { line-height: 37px; }
.lh-38 { line-height: 38px; }
.lh-39 { line-height: 39px; }
.lh-40 { line-height: 40px; }
.lh-41 { line-height: 41px; }
.lh-42 { line-height: 42px; }
.lh-43 { line-height: 43px; }
.lh-44 { line-height: 44px; }
.lh-45 { line-height: 45px; }
.lh-46 { line-height: 46px; }

.lh-50 { line-height: 50px; }
.lh-60 { line-height: 60px; }