<form class="search" ng-class="{'search--on-focus': isFocus, 'search--on-keyword': keyword}">
  <div class="search__form bg-skyblue">
    <div class="search__ui">
      <div class="search__ui__wrap">
        <i class="search__icon transition"></i>
        <input class="search__input transition" ng-focus="focus()"
               ng-model="keyword" ng-model-options="{ updateOn: 'default blur', debounce: {'default': 500, 'blur': 0} }"
               type="search" name="keyword" placeholder="" autocomplete="off" />
        <button class="search__button transition text-hide" ng-click="search()" type="submit">搜索</button>
      </div>
    </div>
    <div class="search__control">
      <a ng-click="cancel()"
         class="link search__control__link search__control__link--cancel">取消</a>
      <a class="link search__control__link search__control__link--switch-city" href="#!/switchCity"><span class="text text-ellipsis">{{::currentCityName}}</span></a>
    </div>
  </div>


  <div class="search__history transition-slow">
    <ul class="list">
      <li class="list__item" ng-repeat="item in history">
        <a class="list__item__link fg-3" ng-click="clickHistoryItem(item)">{{item}}</a>
      </li>
    </ul>
    <div class="search__history__clear" ng-show="history.length">
      <a class="link" ng-click="clearHistory()">清除历史记录</a>
    </div>
  </div>

  <div class="search__result transition-slow" ng-transclude></div>

</form>