.banner {
  & img {
    overflow: hidden;
    border: none;
    width: 190px;
    height: 100px;
  }
  &.banner-small img {
    width: 80px;
    height: 42px;
  }
}


.form-control-text {
  line-height: 30px;
}