.form-list {
  padding: 30px;
  min-width: 780px;
}

.form-list-header {
  border-bottom: 2px solid #b3b3b3;
  div {
    text-align: center;
  }
}

.form-list-footer {
  padding: 20px 0 50px;

  .pagination {
    margin: 0;
  }
}


.form-list-body {
  min-height: 100px;
  li > div {
    text-align: center;
    padding: 10px;
  }

  .fa-arrows {
    color: #CCC;
    font-size: 14px;
    margin-right: 6px;
  }
}