
@include B(team) {

  & > td {
    padding-top: 20px !important;

    &:first-child label {
      padding-bottom: 90px !important;
    }
  }

  @include E(brand) {
    .brand-img {
      @include size(100px, block, 6px);
      border: 2px solid gray;
      overflow: hidden;
    }
    .author, .create-time {
      display: block;
      text-align: center;
      max-width: 100px;
      padding: 1px 0;
    }
  }

  @include E(desc) {
    min-width: 600px;

    .title {
      max-width: 350px;
    }

    .title + p {
      margin-bottom: 10px;
    }

    .desc {
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      height: 40px;
      overflow: hidden;
    }
  }

  @include E(tags) {
    margin-top: 15px;
    li {
      display: inline-block;
      margin-left: 3px;
      &:first-child {
        margin-left: 0;
      }
    }
  }


  @include E(ops) {
    min-width: 60px;
    margin-left: 20px;
    margin-top: 40px;
  }

}


@include B(tag) {
  td:first-child {
    width: 60px;
    label {
      padding-top: 9px !important;
    }
  }
}


.kick-member {
  display: block;
  padding: 1px;
  width: 50px;
  margin: 0 auto;
}