.user.user--avatar {
  $size: 50px;

  width: $size + 30px;
  display: inline-block;
  img {
    @include size($size, block, true);
    margin: 0 auto;
  }
  span {
    display: block;
    text-align: center;
    height: 20px;
    width: $size + 24px;
    margin: 0 auto;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}
