<div class="page page--chose-station">
  <div class="card bg-white">
    <div class="card__line">
      <label class="f-17 fg-3 lh-30">K104 路</label>
      <p class="f-13 fg-a">首末班：05:00 - 22:30</p>
    </div>
    <div class="card__direction">
      <p class="lh-42 fg-3 bg-white bb">东直六公交枢纽丫 - 车公计<a class="link">换向</a> </p>
    </div>
  </div>

  <div class="station-group">
    <h3 class="station-group__title fg-3 f-14">线路车站</h3>
    <ul class="list bt">
      <li class="list__item bg-white fg-3">
        <a class="list__item__link">1. 东直六公交枢纽丫</a>
      </li>
      <li class="list__item bg-white fg-3">
        <a class="list__item__link">1. 东直六公交枢纽丫<span class="distance fg-a pull-right">500 米</span></a>
      </li>
    </ul>
  </div>
</div>

