<header id="header" ng-include="'views/incs/header.html'"></header>
<aside id="aside" ng-include="'views/incs/aside.html'"></aside>

<section id="main">

  <breadcrumb></breadcrumb>

  <div class="loading" data-for-selector=".content">
    <div class="content">
      <div ui-view>
        <h2>配置</h2>
        <label><input type="checkbox" ng-model="layoutOptions.fixHeader"> fixHeader</label>
        <label><input type="checkbox" ng-model="layoutOptions.fixFooter"> fixFooter</label>
        <label><input type="checkbox" ng-model="layoutOptions.hideAside"> hideAside</label>
        <label><input type="checkbox" ng-model="layoutOptions.fixAside"> fixAside</label>
        <label><input type="checkbox" ng-model="layoutOptions.fixBreadcrumb"> fixBreadcrumb</label>
        <label><input type="checkbox" ng-model="layoutOptions.container"> container</label>

        <h2>知识点</h2>
        <a href="http://learn.ionicframework.com/formulas/backend-data/">http://learn.ionicframework.com/formulas/backend-data/</a>
        <a href="http://css-tricks.com/line-clampin/">http://css-tricks.com/line-clampin/</a>
        <a href="http://fortawesome.github.io/Font-Awesome/icons/">http://fortawesome.github.io/Font-Awesome/icons/</a>
      </div>
    </div>
  </div>

</section>

<footer id="footer" ng-include="'views/incs/footer.html'"></footer>