<br><br><br>
<a style="display: block; text-align: center" ng-click="share('lls://share/%7B%22url%22%3A%22http%3A%2F%2Fliulishuo.com%22%2C%22content%22%3A%22%E5%88%86%E4%BA%AB%E5%86%85%E5%AE%B9%22%2C%22channels%22%3A%5B%22qz%22%2C%22wb%22%5D%7D')">只分享的QQ空间和微博</a>
<br>
<a style="display: block; text-align: center" ng-click="share('lls://share/%7B%22url%22%3A%22http%3A%2F%2Fliulishuo.com%22%2C%22content%22%3A%22%E5%88%86%E4%BA%AB%E5%86%85%E5%AE%B9%22%7D')">默认分享</a>

<!--<a ui-sref="login">登录</a>-->
<!--<a ui-sref="signup">注册</a>-->