<div class="page page-list page-list--{{listKey}}">

  <search data-handlers="searchHandlers">


    <div  load-more="loadMore()">
      <ul class="list bt simple-line-list" ng-if="listKey === LIST_KEY.SEARCH">
        <li class="list__item" ng-repeat="item in list">
          <a class="list__item__link" ng-click="goLine(item)">
            <label class="f-17 fg-3 lh-30">{{::item.lineName}}</label>
            <p class="f-13 fg-a">{{::item.startStopName}} - {{::item.endStopName}}</p>
          </a>
        </li>
      </ul>

      <ul class="list bt complex-line-list" ng-if="listKey !== LIST_KEY.SEARCH">
        <li class="list__item bb bg-white" ng-repeat="item in list" ng-class="{'list__item--faved': item.isFav}">
          <a class="list__item__link list__item__link--line fg-3" ng-click="goLine(item)">
            <h3 class="m0 f-17 lh-26">{{::item.lineName}}</h3>
            <label class="f-13 lh-20">{{::item.favStataion || '暂无名称'}}</label>
            <p class="f-13 fg-a lh-20">下一站：{{::item.nextStation || '无'}}</p>
            <i class="distance" distance data-item="item"></i>
          </a>
          <a class="list__item__link list__item__link--fav" ng-click="fav(item)"></a>
        </li>
      </ul>
    </div>
    <loading data-text="正在加载..." ng-show="isLoading"></loading>

    <div class="line-tip for-favorite vertical-mid">
      <div class="no-favorite" ng-show="noResult">
        <p class="fg-6 text-center">你还没有收藏任何线路</p>
        <a class="btn center-block" onclick="document.searchForm.keyword.focus()">添加收藏</a>
      </div>
    </div>

    <div class="line-tip for-around vertical-mid">
      <loading data-text="正在定位..." ng-show="isLocating"></loading>
      <div class="locate-error" ng-show="locateError">
        <p class="fg-6 text-center">暂时无法确定您的位置</p>
        <a class="btn center-block" onclick="document.searchForm.keyword.focus()">手动搜索线路</a>
      </div>
      <p class="no-result fg-6 vertical-mid" ng-show="noResult">没有搜索到合适的线路</p>
    </div>


    <div class="line-tip for-search">
      <p class="no-result fg-6 vertical-mid" ng-show="noResult">没有搜索到合适的线路</p>
      <p class="load-ended text-hide" ng-show="loadEnded">没有更多条目了</p>
    </div>

  </search>



</div>