<div class="page page--my-favicon">

  <ul class="list bt">
    <li class="list__item list__item--faved bb bg-white">
      <a class="list__item__link list__item__link--line fg-3">
        <h3 class="m0 f-17 lh-26">10路</h3>
        <label class="f-13 lh-20">站点名称</label>
        <p class="f-13 fg-a lh-20">下一站：奥体中心</p>
        <i class="distance">44站</i>
      </a>
      <a class="list__item__link list__item__link--fav"></a>
    </li>
    <li class="list__item bb bg-white">
      <a class="list__item__link list__item__link--line fg-3">
        <h3 class="m0 f-17 lh-26">10路</h3>
        <label class="f-13 lh-20">站点名称</label>
        <p class="f-13 fg-a lh-20">下一站：奥体中心</p>
        <i class="distance distance--no-bus">尚未发车</i>
      </a>
      <a class="list__item__link list__item__link--fav"></a>
    </li>

    <li class="list__item bb bg-white">
      <a class="list__item__link list__item__link--line fg-3">
        <h3 class="m0 f-17 lh-26">10路</h3>
        <label class="f-13 lh-20">站点名称</label>
        <p class="f-13 fg-a lh-20">下一站：奥体中心</p>
        <i class="distance distance--coming">即将进站</i>
      </a>
      <a class="list__item__link list__item__link--fav"></a>
    </li>

    <li class="list__item list__item--faved bb bg-white">
      <a class="list__item__link list__item__link--line fg-3">
        <h3 class="m0 f-17 lh-26">10路</h3>
        <label class="f-13 lh-20">站点名称</label>
        <p class="f-13 fg-a lh-20">下一站：奥体中心</p>
        <i class="distance">1站</i>
      </a>
      <a class="list__item__link list__item__link--fav"></a>
    </li>

    <li class="list__item bb bg-white">
      <a class="list__item__link list__item__link--line fg-3">
        <h3 class="m0 f-17 lh-26">10路</h3>
        <label class="f-13 lh-20">站点名称</label>
        <p class="f-13 fg-a lh-20">下一站：奥体中心</p>
        <i class="distance distance--no-line">停运</i>
      </a>
      <a class="list__item__link list__item__link--fav"></a>
    </li>
  </ul>
</div>