<div class="page page--switch-city">

  <div class="city-group city-group--gps">
    <h3 class="city-group__title fg-3 f-14">GPS定位城市</h3>
    <ul class="city-group__list list">
      <li class="list__item list__item--disabled"><a class="list__item__link">北京（暂时没有这个城市的公交信息）<!--（暂时无法定位你的城市）--></a></li>
    </ul>
  </div>

  <div class="city-group">
    <h3 class="city-group__title fg-3 f-14">热门城市</h3>
    <ul class="city-group__list list">
      <li class="list__item list__item--active"><a class="list__item__link"><span class="list__item__link__text">天津</span></a>
      </li><li class="list__item"><a class="list__item__link"><span class="list__item__link__text">杭州</span></a>
      </li><li class="list__item"><a class="list__item__link"><span class="list__item__link__text">成都</span></a>
      </li><li class="list__item"><a class="list__item__link"><span class="list__item__link__text">兰州</span></a></li>
    </ul>
  </div>
</div>
