#aside {
  a {
    text-decoration: none;
  }

  @include B(user) {
    font-size: 12px;
    height: 39px;
    padding: 0 10px;

    box-shadow: inset 1px 1px 0 rgba(0,0,0,.1), inset 0 -1px 0 rgba(0,0,0,.07);
    width: 100%;

    border-bottom: 1px solid #525151;

    a {
      color: #c0bbb7;
      display: inline-block;
      margin-top: 7px;

      &:hover {
        color: #fff;
      }
    }

    @include E(avatar) {
      @include size(25px auto, inline-block);
      @include mp(1px 5px 0 0);

      vertical-align: middle;
      border-left: 3px solid #fff;

      @include M(online) {
        border-left-color: #40ac2b;
      }
    }


    @include E(name) {
      font-size: 14px;
      display: inline-block;
      max-width: 146px;
      margin-right: 4px;
      vertical-align: middle;
    }
  }



  @include B(menu) {
    ul, li {
      position: relative;
    }
    ul {
      width: 100%;
      font-size: 13px;
      line-height: .5em;
      list-style: none;
    }

    a {
      position: relative;

      display: block;
      padding: 10px 10px 10px 11px;

      line-height: normal;
      font-size: 14px;

      color: #c0bbb7;
      font-weight: 400;

      &:hover {
        color: white;
      }

      &:active {
        background: #616161;
      }
    }

    .active > a {
      color: #fff;
    }

    .collapse-sign {
      position: absolute;
      top: 10px;
      right: 10px;
    }

    // 设置右边三角形，标识当前位置
    li.active > a:before {
      content: "\f0d9";
      font-family: FontAwesome;
      display: block;
      height: 27px;
      line-height: normal;
      width: 27px;
      position: absolute;
      right: -21px;
      font-size: 20px;
      color: #eee;
    }
    li.active.open > a:before {
      content: "";
    }


    @include E(parent-ul) {
      @include mp();

      @include E(item) {
        & > .fa {
          margin-right: 5px;
          position: relative;
        }

        .circle {
          font-size: 9px;
          font-style: normal;
          line-height: 7px;
          font-weight: 700;
          vertical-align: baseline;
          white-space: nowrap;
          text-align: center;

          @include position(absolute, -6px -5px null null);

          display: block;
          padding: 2px;
          min-width: 13px;
          max-height: 13px;

          border: 1px solid rgba(255,255,255, .1);

          @include selector-modifier(-2 prepend '.open') {
            display: none;
          }
        }

        .name {
          display: inline-block;
          @include mp;
          max-width: 142px;
        }
      }

    }


    $tree-border: 1px solid #7A7A7A;
    $tree-border-hover-color: #ACACAC;


    @include E(child-ul) {
      @include mp(0, 7px 0);
      background: rgba(69, 69, 69, .6);

      a {
        @include mp(0, 7px 10px 7px 42px);

        &:hover {
          background-color: rgba(69,69,69,.8);
          color: #fff;
        }
      }


      // 设置 tree
      &:before {
        content: "";
        display: block;
        @include position(absolute, 0 null 0 23px);
        border-left: $tree-border;
        z-index: 1;
      }

      li:before {
        content: "";
        @include size(8px 0, block);
        @include position(absolute, 16px null null 23px);
        border-top: $tree-border;
        z-index: 1;
      }

      @include parent-modifier('li:hover') {
        &:before, li:before {
          border-color: $tree-border-hover-color;
        }
      }
    }
  }


}