.disabled, [disabled], [class*=disabled] {
  pointer-events: none !important;
}

.link, .btn {
  cursor: pointer;
}

.link, .link:link, .link:visited {
  color: $blue;
}
.link:active, .link:hover {
  opacity: .8;
}
.link.disabled {
  color: $color-c;
}



.btn {
  font-size: 20px;
  font-weight: 700;
  color: #64421f;
  margin-left: auto;
  margin-right: auto;
  background-color: map-get($colors, yellow);
  box-shadow: inset 0 -3px #ffb600, 0 4px rgba(0,0,0,.14);
  text-align: center;
  @include size(200px 52px true, block, 26px);
}

.btn-small {
  font-size: 14px;
  @include size(68px 30px true, block, 15px);
}

.btn-white {
  background-color: map-get($colors, white);
  box-shadow: inset 0 -3px #c9cdd0, 0 4px rgba(0,0,0,.14);
}

.btn:active, .btn:hover {
  opacity: .8;
}
.btn.disabled {
  background-color: #E5E5EA;
  color: $color-c;
  opacity: .8;
}
.ng-click-active {
  opacity: .8;
}