
// ====== angular 表单验证错误相关的类 ==========

$form-errors: equal range unique required minlength maxlength email;

.help-block {
  display: none;
}

%help-block-show {
  display: block;
}

@each $form-error in $form-errors {
  .has-#{$form-error}-error .on-#{$form-error}-error {
    @extend %help-block-show;
  }
}

// ===========================================



.form-control-group {
  input[type=number].form-control {
    width: auto;
    padding-right: 12px;
  }

  select.form-control {
    width: auto;
  }

  .form-control-text {
    padding-top: 7px;
  }

  .form-inline .form-group {
    margin-left: 0;
    margin-right: 0;
  }
}