html {
  position: relative;
  overflow-x: hidden;

  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

  // In addition in IE10, also add this CSS rule to remove the ghost click delay
  // http://ariatemplates.com/blog/2014/05/ghost-clicks-in-mobile-browsers/
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

body {
  padding: 0 !important;
  margin-right: auto;
  margin-left: auto;
  overflow: hidden;
}

html, body {
  display: block;
  min-height: 100%;
  background: #ebebeb;
  //background: image-url("bg.png");
}

.link, .link:link, .link:visited {
  color: map-get($colors, skyblue);
}
.link:active, .link:hover {
  opacity: .8;
}
.link.disabled {
  color: $color-c;
}
.bg-skyblue {
  .link, .link:link, .link:visited {
    color: #fff;
  }
}



.touchable {
  transition: .1s;
  .touched {
    opacity: .8;
  }
}

.disabled, [disabled], [class*=disabled] {
  pointer-events: none;
}





