.in-refresh {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -140%);

  @include size(220px 90px, block, 6px);
  margin: 60px auto 0 auto;
  color: white;
  font-size: 14px;
  background-color: rgba(0, 0, 0, .7);

  .loading {
    margin-top: 18px;
  }
}

@include B(detail) {

  &, body {
    background: white;
  }

  .view, .page {
    height: 100%;
  }

  @include E(top) {
    height: 96px;
    padding-left: 30px;
    position: relative;

    h2 {
      margin-top: 14px;
    }

    .status {
      position: absolute;
      right: 16px;
      top: 34px;
    }

    .status--pink    {  color: map-get($colors, pink); }
    .status--skyblue {  color: map-get($colors, skyblue); }
    .status--gray    {  color: map-get($colors, gray); }
  }

  @include E(content) {
    width: 100%;
    height: 260px;

    scrollbar-base-color: transparent;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space:nowrap;


    @include bem-list {
      height: 100%;
      border-top: 3px solid map-get($colors, skyblue);
      overflow: visible;
      margin: 76px 30px 0;
      font-size: 0;
    }

    @include bem-list-item {
      width: 54px;
      height: auto;
      display: inline-block;
      position: relative;
      vertical-align: top;

      .bus-coming, .bus-here {
        position: absolute;
        @include sprite-2x(line-bus);
        top: -27px;

        i {
          font-size: 10px;
          @include size(12px, block, true);
          color: #333;
          background: #f3f3f5;
          font-style: normal;
          text-align: center;
          line-height: 12px;
          margin-left: 13px;
          margin-top: -5px;
        }
      }
      .bus-coming {
        left: -37px;
      }

      .bus-here {
        left: -10px;
      }
    }

    @include bem-list-item-link {
      position: relative;
      font-size: 13px;
      line-height: 15px;
      color: #2A92DA;
      display: block;
      width: 15px;
      margin-top: 10px;
      margin-left: -11px;
      white-space: normal;
      text-align: center;
      word-break: break-all;
      word-wrap: break-word;

      &::before {
        content: '';
        @include size(9px, block, true);
        @include position(absolute, -16px false false 4px);
        background: map-get($colors, skyblue);
      }
    }

    @include bem-list-active-item {
      @include bem-list-item-link {
        color: map-get($colors, pink);

        &::before {
          background: map-get($colors, pink);
        }
      }
    }

  }

  @include E(bottom) {
    position: fixed;
    @include z-index(detail-bottom);
    bottom: 0;
    left: 0;
    right: 0;
    ul {
      display: flex;
    }
    li {
      flex: 1;
      cursor: pointer;

      .control::before {
        content: '';
        display: inline-block;
        margin-right: 5px;
        position: relative;
        top: 2px;
      }
    }

    .swap::before    { @include sprite-2x(swap); }
    .refresh::before { @include sprite-2x(refresh); }
    .star::before    { @include sprite-2x(star); }
    .unstar::before  { @include sprite-2x(unstar); }
  }
}

.has-footer {
  .detail__bottom {
    bottom: 59px;
  }
}

.detail__content::-webkit-scrollbar {
  background: transparent;
}

.detail__content::-webkit-scrollbar-thumb:horizontal	{
  background-color: transparent;
  height: 0;
}