$height: 34px;
$radius: 20px;

[type=search] {
  -webkit-appearance: none;
  border-radius: $radius;
  padding-right: $height;
}

[type=search]::-ms-clear,
[type=search]::-webkit-clear {
  display: none;
}

[type=search] + .clear {
  display: none;
}

[type=search]:valid + .clear {
  $size: 20px;
  @include size($size, inline-block, true);
  cursor: pointer;
  line-height: $size - 2px;
  margin-top: - ($height + $size)/2;
  margin-right: ($height - $size)/2;
  text-align: center;
  font-style: normal;
  float: right;

  &:hover {
    transition: .2s;
    background: rgba(0, 0, 0, .2);
    color: white;
  }
  &:active {
    background: rgba(0, 0, 0, .4);
  }
}

.filter-form {
  & > .form-group {
    margin-bottom: 0px;
    padding: 0;
  }
  .filter-item {
    margin-bottom: 10px;
    padding-left: 0;

  }
}

.search-form {
  &.has-keyword-classify {
    .search {
      padding-left: 110px;
    }

    .keyword-classify {
      display: block;
    }
  }

  .keyword-classify {
    float: left;
    display: none;
    margin-top: - $height;
    .btn {
      width: 100px;
      @include border-left-radius($radius);
      @include border-right-radius(0);
      border: none;
      border-right: 1px solid #ccc;
      margin-top: 1px;
      margin-left: 1px;
    }

    .dropdown-menu {
      min-width: 100px;
    }
  }

  .latest-search {
    padding-left: 0px;
    line-height: $height / 2;
    height: $height + 4;
    overflow: hidden;
    .btn {
      padding: 0 4px;
      line-height: $height / 2;
      font-size: 14px;
      max-width: 100px;
    }
  }

  @include B(wrap) {
    @include E(keyword) {
      padding-right: 100px;
    }
    @include E(btn) {
      float: right;
      margin-top: -$height;
      .btn {
        padding: 6px 0;
        width: 88px;
      }
    }
  }
}