@include B(search){
  @include E(ui) {
    padding: 9px 78px 9px 12px;
    @include E(wrap) {
      width: 100%;
      position: relative;
    }
  }

  @include E(control) {
    margin-top: -41px;
    margin-right: 12px;
    line-height: 32px;
    float: right;

    @include E(link) {
      display: block;
      text-align: center;

      @include M(cancel) {
        display: none;
        padding: 0 10px;
      }
      @include M(switch-city) {
        display: block;
        position: relative;
        width: 58px;

        &::after {
          display: block;
          content: '';
          position: absolute;
          right: 0;
          top: 13px;
          @include sprite-2x(more);
        }

        .text {
          @include size(46px 100%, block);
          overflow: hidden;
        }
      }
    }
  }

  @include M(on-focus) {
    @include BE(control, link) {
      @include M(switch-city) { display: none; }
      @include M(cancel) { display: block; }
    }
  }

  @include E(input) {
    outline: none;
    border: $border-style;
    border-radius: 15px;
    line-height: 20px;
    padding: 5px 0;
    font-size: 14px;
    color: $color-3;

    width: 100%;

    @include placeholder($color-a);
  }


  @include E(icon) {
    position: absolute;
    top: 11px;
    left: 16px;
    opacity: 1;
    z-index: 2;
    @include sprite-2x(search);
  }
  @include E(input) {
    padding-left: 32px;
    padding-right: 32px;
  }
  @include E(button) {
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    outline: none;
    @include size(36px 100%);
    padding: 0;
    cursor: pointer;

    &::after {
      content: '';
      @include sprite-2x(search);
      margin-left: 6px;
    }
  }


  @include M(on-focus) {
    @include BE(icon) {
      width: 0;
      opacity: 0;
    }
    @include BE(input) {
      padding-left: 12px;
    }
  }
  @include M(on-keyword) {
    @include BE(button) {
      opacity: 1;
    }
  }
}

@include bem-search-form {
  @include size(100% 50px);
  overflow: hidden;
}

@include bem-search-history {

  @include bem-list-item-link {
    line-height: 41px;
    padding-left: 14px;
  }

  @include E(clear) {
    height: 42px;
    text-align: center;
    .link {
      display: inline-block;
      padding: 10px 40px;
    }
  }
}

@include bem-search-result {
  padding-bottom: 30px;
}



.vertical-mid {
  margin-top: 180px;
  text-align: center;
}


.line-tip {
  .btn {
    @include size(146px 40px, block);
    line-height: 40px;
    margin-top: 20px;
  }

  .no-favorite .btn {
    width: 116px;
  }
}

.no-result {
  margin-top: 209px;
}


.load-ended {
  &::after {
    content: '';
    @include sprite-2x(end);
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
  }
}





.page-line--around .search__result,
.page-line--favourite .search__result {opacity: 1; height: auto;}


.search__history { opacity: 0; height: 0; };
.search__result  { opacity: 0; height: 0; };

.search--on-focus {
  .search__history { opacity: 1; height: auto; };
}
.search--on-keyword {
  .search__history { opacity: 0; height: 0; };
  .search__result  { opacity: 1; height: auto; };
}


.page-line {
  .line-tip { display: none; }
  &.page-line--search { .for-search { display: block; }}
  &.page-line--around { .for-around { display: block; }}
  &.page-line--favourite { .for-favorite { display: block; }}
}