.simple-line-list.list {
  border-top: $border-style;

  .list__item {
    border-bottom: $border-style;
    background-color: white;
    height: 78px;
  }

  .list__item__link {
    display: block;
    position: relative;
    padding: 14px 0 14px 74px;

    &::before, &::after {
      content: '';
      display: block;
      position: absolute;
    }

    &::before {
      @include size(48px, false, true);
      background-color: map-get($colors, green);
      top: 14px;
      left: 14px;
    }

    &::after {
      @include sprite-2x(bus);
      top: 26px;
      left: 29px;
    }
  }
}








