@include kf-circle;

@include B(loading) {
  text-align: center;
  margin: 10px 0;


  @include E(text) {

    &::before {
      content: '';
      margin-right: 5px;
      vertical-align: bottom;
      animation: kf-circle 1s linear infinite;
      @include sprite-2x(loading);
      display: inline-block;
    }
  }


  @include M(large) {
    @include BE(text) {
      &::before {
        @include sprite-2x(loading-lg);
      }
    }
  }
}